body {
  justify-content: center;
  text-align: center;
  background-color: #d7d7d0;
  color: black;
  transition: 0.5s ease;
  height: 100vh;
  position: relative;
  top: 150px;
}

.container {
  height: 100vh;
}

.toggle-button {
  background-color: rgb(0, 255, 38);
  width: 130px;
  height: 40px;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
  border: none;
  cursor: pointer;
}

.toggle-button:hover {
  background-color: hsl(0, 77%, 51%);
  transform: scale(1.05);
  color: rgb(61, 34, 157);
}

h1 {
  color: hsl(62, 80%, 53%);
}

.container .toggle-button {
  background-color: #ad3186;
}

.container.dark {
  background-color: #2b2828;
  color: white;
  transition: 0.5s ease;
}
